In [77]:
import warnings
warnings.filterwarnings('ignore')

In [78]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

## Read the CSV and Perform Basic Data Cleaning

In [79]:
# Load the file
file_path = Path('NYC_restaurants_full_dataset.csv')

In [80]:
# Read into a dataFrame
df = pd.read_csv(file_path)

In [81]:
# Show dataFrame
df

,DBA,STREET,INCOME_LEVEL,CUISINE_DESCRIPTION,SCORE,GRADE
0,(LEWIS DRUG STORE) LOCANDA VINI E OLII,GATES AVENUE,medium income,Italian,2,A
1,(LEWIS DRUG STORE) LOCANDA VINI E OLII,GATES AVENUE,medium income,Italian,9,A
2,(PUBLIC FARE) 81st street and central park wes...,CENTRAL PARK WEST,high income,American,11,A
3,(PUBLIC FARE) 81st street and central park wes...,CENTRAL PARK WEST,high income,American,12,A
4,(PUBLIC FARE) 81st street and central park wes...,CENTRAL PARK WEST,high income,American,11,A
...,...,...,...,...,...,...
33688,ZUCKER'S BAGELS AND SMOKED FISH,CHAMBERS STREET,high income,Bagels/Pretzels,11,A
33689,ZUCKER'S BAGELS AND SMOKED FISH,CHAMBERS STREET,high income,Bagels/Pretzels,11,A
33690,ZUCKER'S BAGELS AND SMOKED FISH,CHAMBERS STREET,high income,Bagels/Pretzels,12,A
33691,ZUCKER'S BAGELS AND SMOKED FISH,CHAMBERS STREET,high income,Bagels/Pretzels,12,A
33692,ZUCKER'S BAGELS AND SMOKED FISH,CHAMBERS STREET,high income,Bagels/Pretzels,12,A

In [82]:
# Show df's first 5 rows only
df.head()

,DBA,STREET,INCOME_LEVEL,CUISINE_DESCRIPTION,SCORE,GRADE
0,(LEWIS DRUG STORE) LOCANDA VINI E OLII,GATES AVENUE,medium income,Italian,2,A
1,(LEWIS DRUG STORE) LOCANDA VINI E OLII,GATES AVENUE,medium income,Italian,9,A
2,(PUBLIC FARE) 81st street and central park wes...,CENTRAL PARK WEST,high income,American,11,A
3,(PUBLIC FARE) 81st street and central park wes...,CENTRAL PARK WEST,high income,American,12,A
4,(PUBLIC FARE) 81st street and central park wes...,CENTRAL PARK WEST,high income,American,11,A

In [83]:
# Show df's first 5 rows and last 5 rows only
df.tail()

,DBA,STREET,INCOME_LEVEL,CUISINE_DESCRIPTION,SCORE,GRADE
33688,ZUCKER'S BAGELS AND SMOKED FISH,CHAMBERS STREET,high income,Bagels/Pretzels,11,A
33689,ZUCKER'S BAGELS AND SMOKED FISH,CHAMBERS STREET,high income,Bagels/Pretzels,11,A
33690,ZUCKER'S BAGELS AND SMOKED FISH,CHAMBERS STREET,high income,Bagels/Pretzels,12,A
33691,ZUCKER'S BAGELS AND SMOKED FISH,CHAMBERS STREET,high income,Bagels/Pretzels,12,A
33692,ZUCKER'S BAGELS AND SMOKED FISH,CHAMBERS STREET,high income,Bagels/Pretzels,12,A

In [84]:
# Determine missing values: Count values in each column
df.count()

DBA                    33693
STREET                 33693
INCOME_LEVEL           33693
CUISINE_DESCRIPTION    33693
SCORE                  33693
GRADE                  33693
dtype: int64

In [85]:
# Determine missing values: isnull().sum()
df.isnull().sum()

DBA                    0
STREET                 0
INCOME_LEVEL           0
CUISINE_DESCRIPTION    0
SCORE                  0
GRADE                  0
dtype: int64

In [86]:
# Get the names of all columns
df.columns

Index(['DBA', 'STREET', 'INCOME_LEVEL', 'CUISINE_DESCRIPTION', 'SCORE',
       'GRADE'],
      dtype='object')

In [87]:
# Set the variables 'columns' and 'target', containing features varaibles and target variables respectively
columns = ['DBA', 'STREET', 'INCOME_LEVEL', 'CUISINE_DESCRIPTION', 'SCORE']

target = ['GRADE']

In [88]:
# Check data types
datatypes = df.dtypes
print(datatypes)

DBA                    object
STREET                 object
INCOME_LEVEL           object
CUISINE_DESCRIPTION    object
SCORE                   int64
GRADE                  object
dtype: object

In [89]:
# Determine unique values in the column "INCOME_LEVEL"

## Get a variable holding a list made out of values in "INCOME_LEVEL"
income_types = df["INCOME_LEVEL"].tolist()
## Get the unique items in the "income_types" list
set(income_types)

{'high income', 'low income', 'medium income'}

In [90]:
# Determine unique values in the column "GRADE"

## Get a variable holding a list made out of values in "INCOME_LEVEL"
grade_types = df["GRADE"].tolist()
## Get the unique items in the "income_types" list
set(grade_types)

{'A', 'B', 'C', 'P', 'Z'}

## Split the Data into Training and Testing

### (a) Encoding Features Variables

In [91]:
from sklearn.preprocessing import LabelEncoder

In [92]:
# Creating an instance of label encoder
label_encoder = LabelEncoder()
df["Income_levels"] = label_encoder.fit_transform(df["INCOME_LEVEL"])
df.head()

,DBA,STREET,INCOME_LEVEL,CUISINE_DESCRIPTION,SCORE,GRADE,Income_levels
0,(LEWIS DRUG STORE) LOCANDA VINI E OLII,GATES AVENUE,medium income,Italian,2,A,2
1,(LEWIS DRUG STORE) LOCANDA VINI E OLII,GATES AVENUE,medium income,Italian,9,A,2
2,(PUBLIC FARE) 81st street and central park wes...,CENTRAL PARK WEST,high income,American,11,A,0
3,(PUBLIC FARE) 81st street and central park wes...,CENTRAL PARK WEST,high income,American,12,A,0
4,(PUBLIC FARE) 81st street and central park wes...,CENTRAL PARK WEST,high income,American,11,A,0

In [93]:
# Income Level dictionary
INCOME_LEVEL_num = {
    "high income": 1,
    "medium income": 2,
    "low income": 3
}

In [94]:
# Income Levels encoded using the dictionary values
df["INCOME_LEVEL_num"] = df["INCOME_LEVEL"].apply(lambda x: INCOME_LEVEL_num[x])
df.head()

,DBA,STREET,INCOME_LEVEL,CUISINE_DESCRIPTION,SCORE,GRADE,Income_levels,INCOME_LEVEL_num
0,(LEWIS DRUG STORE) LOCANDA VINI E OLII,GATES AVENUE,medium income,Italian,2,A,2,2
1,(LEWIS DRUG STORE) LOCANDA VINI E OLII,GATES AVENUE,medium income,Italian,9,A,2,2
2,(PUBLIC FARE) 81st street and central park wes...,CENTRAL PARK WEST,high income,American,11,A,0,1
3,(PUBLIC FARE) 81st street and central park wes...,CENTRAL PARK WEST,high income,American,12,A,0,1
4,(PUBLIC FARE) 81st street and central park wes...,CENTRAL PARK WEST,high income,American,11,A,0,1

In [95]:
# Drop the INCOME_LEVEL and Income_levels columns
df = df.drop(["INCOME_LEVEL", "Income_levels"], axis=1)
df.head()

,DBA,STREET,CUISINE_DESCRIPTION,SCORE,GRADE,INCOME_LEVEL_num
0,(LEWIS DRUG STORE) LOCANDA VINI E OLII,GATES AVENUE,Italian,2,A,2
1,(LEWIS DRUG STORE) LOCANDA VINI E OLII,GATES AVENUE,Italian,9,A,2
2,(PUBLIC FARE) 81st street and central park wes...,CENTRAL PARK WEST,American,11,A,1
3,(PUBLIC FARE) 81st street and central park wes...,CENTRAL PARK WEST,American,12,A,1
4,(PUBLIC FARE) 81st street and central park wes...,CENTRAL PARK WEST,American,11,A,1

In [96]:
# Binary encoding using Pandas (multiple columns)
df = pd.get_dummies(df, columns=["DBA", "STREET", "CUISINE_DESCRIPTION"])
df.head()

,SCORE,GRADE,INCOME_LEVEL_num,DBA_(LEWIS DRUG STORE) LOCANDA VINI E OLII,DBA_(PUBLIC FARE) 81st street and central park west (Delacorte Theatre),DBA_1 DARBAR,DBA_1 EAST 66TH STREET KITCHEN,DBA_101 DELI,DBA_16 HANDLES,DBA_18 RESTAURANT,...,CUISINE_DESCRIPTION_Soul Food,CUISINE_DESCRIPTION_Soups & Sandwiches,CUISINE_DESCRIPTION_Spanish,CUISINE_DESCRIPTION_Steak,CUISINE_DESCRIPTION_Tapas,CUISINE_DESCRIPTION_Tex-Mex,CUISINE_DESCRIPTION_Thai,CUISINE_DESCRIPTION_Turkish,CUISINE_DESCRIPTION_Vegetarian,CUISINE_DESCRIPTION_Vietnamese/Cambodian/Malaysia
0,2,A,2,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9,A,2,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,11,A,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,12,A,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,11,A,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### (b) Encoding Target Variables

In [97]:
# Creating an instance of label encoder
label_encoder = LabelEncoder()
df["Grade"] = label_encoder.fit_transform(df["GRADE"])
df.head()

,SCORE,GRADE,INCOME_LEVEL_num,DBA_(LEWIS DRUG STORE) LOCANDA VINI E OLII,DBA_(PUBLIC FARE) 81st street and central park west (Delacorte Theatre),DBA_1 DARBAR,DBA_1 EAST 66TH STREET KITCHEN,DBA_101 DELI,DBA_16 HANDLES,DBA_18 RESTAURANT,...,CUISINE_DESCRIPTION_Soups & Sandwiches,CUISINE_DESCRIPTION_Spanish,CUISINE_DESCRIPTION_Steak,CUISINE_DESCRIPTION_Tapas,CUISINE_DESCRIPTION_Tex-Mex,CUISINE_DESCRIPTION_Thai,CUISINE_DESCRIPTION_Turkish,CUISINE_DESCRIPTION_Vegetarian,CUISINE_DESCRIPTION_Vietnamese/Cambodian/Malaysia,Grade
0,2,A,2,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9,A,2,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,11,A,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,12,A,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,11,A,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [98]:
# Grade dictionary
## The dictionary creates two categories for grades: "high" and "low".
## "high" grade has been made to replace grades A and B, 
## whereas "low" grade has been made to replace all grades lower than A and B.

GRADE_num = {
    "A": "high",
    "B": "high",
    "C": "low",
    "P": "low",
    "Z": "low"
}

In [99]:
# Grades encoded using the dictionary values
df["GRADE_num"] = df["GRADE"].apply(lambda x: GRADE_num[x])
df.head()

,SCORE,GRADE,INCOME_LEVEL_num,DBA_(LEWIS DRUG STORE) LOCANDA VINI E OLII,DBA_(PUBLIC FARE) 81st street and central park west (Delacorte Theatre),DBA_1 DARBAR,DBA_1 EAST 66TH STREET KITCHEN,DBA_101 DELI,DBA_16 HANDLES,DBA_18 RESTAURANT,...,CUISINE_DESCRIPTION_Spanish,CUISINE_DESCRIPTION_Steak,CUISINE_DESCRIPTION_Tapas,CUISINE_DESCRIPTION_Tex-Mex,CUISINE_DESCRIPTION_Thai,CUISINE_DESCRIPTION_Turkish,CUISINE_DESCRIPTION_Vegetarian,CUISINE_DESCRIPTION_Vietnamese/Cambodian/Malaysia,Grade,GRADE_num
0,2,A,2,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,high
1,9,A,2,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,high
2,11,A,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,high
3,12,A,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,high
4,11,A,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,high

In [100]:
# Drop the GRADE and Grade columns
df = df.drop(["GRADE", "Grade"], axis=1)
df.head()

,SCORE,INCOME_LEVEL_num,DBA_(LEWIS DRUG STORE) LOCANDA VINI E OLII,DBA_(PUBLIC FARE) 81st street and central park west (Delacorte Theatre),DBA_1 DARBAR,DBA_1 EAST 66TH STREET KITCHEN,DBA_101 DELI,DBA_16 HANDLES,DBA_18 RESTAURANT,DBA_27 SPORTS BAR & CAFE,...,CUISINE_DESCRIPTION_Soups & Sandwiches,CUISINE_DESCRIPTION_Spanish,CUISINE_DESCRIPTION_Steak,CUISINE_DESCRIPTION_Tapas,CUISINE_DESCRIPTION_Tex-Mex,CUISINE_DESCRIPTION_Thai,CUISINE_DESCRIPTION_Turkish,CUISINE_DESCRIPTION_Vegetarian,CUISINE_DESCRIPTION_Vietnamese/Cambodian/Malaysia,GRADE_num
0,2,2,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,high
1,9,2,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,high
2,11,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,high
3,12,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,high
4,11,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,high

### (c) Features and Target Variables

In [101]:
# Create our features:
X = df.copy()
X = X.drop("GRADE_num", axis=1)
X.head()

,SCORE,INCOME_LEVEL_num,DBA_(LEWIS DRUG STORE) LOCANDA VINI E OLII,DBA_(PUBLIC FARE) 81st street and central park west (Delacorte Theatre),DBA_1 DARBAR,DBA_1 EAST 66TH STREET KITCHEN,DBA_101 DELI,DBA_16 HANDLES,DBA_18 RESTAURANT,DBA_27 SPORTS BAR & CAFE,...,CUISINE_DESCRIPTION_Soul Food,CUISINE_DESCRIPTION_Soups & Sandwiches,CUISINE_DESCRIPTION_Spanish,CUISINE_DESCRIPTION_Steak,CUISINE_DESCRIPTION_Tapas,CUISINE_DESCRIPTION_Tex-Mex,CUISINE_DESCRIPTION_Thai,CUISINE_DESCRIPTION_Turkish,CUISINE_DESCRIPTION_Vegetarian,CUISINE_DESCRIPTION_Vietnamese/Cambodian/Malaysia
0,2,2,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9,2,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,11,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,12,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,11,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [102]:
# Create our target
y = df["GRADE_num"].values

In [103]:
X.describe()

,SCORE,INCOME_LEVEL_num,DBA_(LEWIS DRUG STORE) LOCANDA VINI E OLII,DBA_(PUBLIC FARE) 81st street and central park west (Delacorte Theatre),DBA_1 DARBAR,DBA_1 EAST 66TH STREET KITCHEN,DBA_101 DELI,DBA_16 HANDLES,DBA_18 RESTAURANT,DBA_27 SPORTS BAR & CAFE,...,CUISINE_DESCRIPTION_Soul Food,CUISINE_DESCRIPTION_Soups & Sandwiches,CUISINE_DESCRIPTION_Spanish,CUISINE_DESCRIPTION_Steak,CUISINE_DESCRIPTION_Tapas,CUISINE_DESCRIPTION_Tex-Mex,CUISINE_DESCRIPTION_Thai,CUISINE_DESCRIPTION_Turkish,CUISINE_DESCRIPTION_Vegetarian,CUISINE_DESCRIPTION_Vietnamese/Cambodian/Malaysia
count,33693.000000,33693.000000,33693.000000,33693.000000,33693.000000,33693.000000,33693.000000,33693.000000,33693.000000,33693.000000,...,33693.000000,33693.000000,33693.000000,33693.000000,33693.000000,33693.000000,33693.000000,33693.000000,33693.000000,33693.000000
mean,11.898317,1.553854,0.000148,0.000148,0.000208,0.000089,0.000890,0.001454,0.000386,0.000208,...,0.000297,0.005372,0.019974,0.007212,0.000356,0.009824,0.006084,0.002671,0.002879,0.005520
std,7.474663,0.751695,0.012181,0.012181,0.014413,0.009436,0.029827,0.038108,0.019639,0.014413,...,0.017226,0.073098,0.139915,0.084619,0.018869,0.098629,0.077766,0.051615,0.053579,0.074095
min,-1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,11.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,13.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,83.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [104]:
# Check the balance of our target values
df["GRADE_num"].value_counts(normalize=True)

high    0.953343
low     0.046657
Name: GRADE_num, dtype: float64

In [105]:
y.shape

(33693,)

In [106]:
Counter(y)

Counter({'high': 32121, 'low': 1572})

### (d) Split the Data

In [107]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
Counter(y_train)

Counter({'high': 24105, 'low': 1164})

## Resampling

### (a) Oversampling: Naive Random Oversampling

In [108]:
# Resample the training data with the RandomOversampler
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)

Counter(y_resampled)

Counter({'high': 24105, 'low': 24105})

In [109]:
y_resampled.shape

(48210,)

In [110]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [111]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score

y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.9215392743923917

In [112]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test, y_pred)

array([[7544,  472],
       [  40,  368]])

In [113]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

       high       0.99      0.94      0.90      0.97      0.92      0.85      8016
        low       0.44      0.90      0.94      0.59      0.92      0.85       408

avg / total       0.97      0.94      0.90      0.95      0.92      0.85      8424

### (b) Oversampling: SMOTE Oversampling

In [114]:
# Resample the training data with SMOTE
from imblearn.over_sampling import SMOTE
X_resampled, y_resampled = SMOTE(random_state=1, sampling_strategy='auto').fit_resample(
    X_train, y_train
)

Counter(y_resampled)

Counter({'high': 24105, 'low': 24105})

In [115]:
y_resampled.shape

(48210,)

In [116]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [117]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score

y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.9151733298109663

In [118]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[7717,  299],
       [  54,  354]])

In [119]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

       high       0.99      0.96      0.87      0.98      0.91      0.84      8016
        low       0.54      0.87      0.96      0.67      0.91      0.83       408

avg / total       0.97      0.96      0.87      0.96      0.91      0.84      8424

### (c) Undersampling: Cluster Centroids

In [120]:
# Resample the data using the ClusterCentroids resampler
# Warning: This is a large dataset, and this step may take some time to complete
from imblearn.under_sampling import ClusterCentroids
cc = ClusterCentroids(random_state=1)
X_resampled, y_resampled = cc.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({'high': 1164, 'low': 1164})

In [121]:
y_resampled.shape

(2328,)

In [122]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [123]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score

y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.8324233885170835

In [124]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
y_pred = model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[6076, 1940],
       [  38,  370]])

In [125]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

       high       0.99      0.76      0.91      0.86      0.83      0.68      8016
        low       0.16      0.91      0.76      0.27      0.83      0.70       408

avg / total       0.95      0.77      0.90      0.83      0.83      0.68      8424

### (d) Combination (Over and Under) Sampling: SMOTEENN

In [ ]:
# Resample the training data with SMOTEENN
# Warning: This is a large dataset, and this step may take some time to complete
from imblearn.combine import SMOTEENN

smote_enn = SMOTEENN(random_state=1)
X_resampled, y_resampled = smote_enn.fit_resample(X, y)
Counter(y_resampled)

In [ ]:
y_resampled.shape

In [ ]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

In [ ]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score

y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

In [ ]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test, y_pred)

In [ ]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced

print(classification_report_imbalanced(y_test, y_pred))

## Ensemble Learners

### (a) Balanced Random Forest Classifier

In [ ]:
# Resample the training data with the BalancedRandomForestClassifier

# Create a balanced random forest classifier:
from imblearn.ensemble import BalancedRandomForestClassifier

brf_model = BalancedRandomForestClassifier(n_estimators=100, random_state=1)

In [ ]:
# Fitting the model:
brf_model = brf_model.fit(X_train, y_train)
Counter(y_train)

In [ ]:
y_train.shape

In [ ]:
y_train.value_counts(normalize=True)

In [57]:
# Making predictions using the testing data:
predictions = brf_model.predict(X_test)

predictions

array(['high', 'high', 'high', ..., 'high', 'high', 'high'], dtype=object)

In [58]:
# Calculated the balanced accuracy score
acc_score = balanced_accuracy_score(y_test, predictions)

print(f"Accuracy Score : {acc_score}")

Accuracy Score : 0.9732777092873077

In [59]:
# Display the confusion matrix
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

print("Confusion Matrix")
display(cm_df)

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         7843          173
Actual 1           13          395

In [60]:
# Print the imbalanced classification report
print("Classification Report")
print(classification_report_imbalanced(y_test, predictions))

Classification Report
                   pre       rec       spe        f1       geo       iba       sup

       high       1.00      0.98      0.97      0.99      0.97      0.95      8016
        low       0.70      0.97      0.98      0.81      0.97      0.95       408

avg / total       0.98      0.98      0.97      0.98      0.97      0.95      8424

In [61]:
# List the features sorted in descending order by feature importance
# Calculate feature importance in the Balanced Random Forest model.
importances = brf_model.feature_importances_
importances

# We can sort the features by their importance.
sorted(zip(brf_model.feature_importances_, X.columns), reverse=True)

[(0.4667783136724509, 'SCORE'),
 (0.026386081038895347, 'DBA_STARBUCKS'),
 (0.009614876176344841, 'CUISINE_DESCRIPTION_CafÃƒÂ©/Coffee/Tea'),
 (0.009510991612352792, 'STREET_BROADWAY'),
 (0.008004872348511733, 'INCOME_LEVEL_num'),
 (0.0077898701537397206, 'STREET_MOTT STREET'),
 (0.007127893064676105, 'CUISINE_DESCRIPTION_American'),
 (0.005699626303956569, 'STREET_COLUMBUS AVENUE'),
 (0.005576977323056296, 'DBA_JG MELON RESTAURANT'),
 (0.004987406618165989, 'DBA_ESSEN'),
 (0.004759316966356674, 'STREET_EAST   45 STREET'),
 (0.004651625768219958, 'DBA_GOOD ENOUGH TO EAT (A.G. BISTRO)'),
 (0.004617157520453671, 'CUISINE_DESCRIPTION_Mexican'),
 (0.0044608105180524065, 'STREET_3 AVENUE'),
 (0.004460557043189487, 'CUISINE_DESCRIPTION_Indian'),
 (0.00445545792840127, 'STREET_20 AVENUE'),
 (0.004422126694994087, 'STREET_GREENWICH STREET'),
 (0.00430466899704203, 'DBA_KAFFE 1668'),
 (0.004231103376043434, 'CUISINE_DESCRIPTION_Japanese'),
 (0.004123371963624976, 'DBA_GREAT N.Y. NOODLETOWN'),
 (0.004091002644152446, 'STREET_1 AVENUE'),
 (0.003974006142933393, 'DBA_DISHES'),
 (0.003892627355739738, 'CUISINE_DESCRIPTION_Pizza'),
 (0.003847031400463317, 'DBA_THE TAP HOUSE'),
 (0.003684874971772418, "DBA_QUEEN'S PIZZA"),
 (0.0032617632581409214, 'CUISINE_DESCRIPTION_Chinese'),
 (0.00320746834590986, 'STREET_QUEENS BLVD'),
 (0.0030720032766229054, 'STREET_MADISON AVENUE'),
 (0.0030144288751161605, 'DBA_MOTI MAHAL DELUX'),
 (0.0029562280368032818, 'DBA_PEPOLINO'),
 (0.002867689467957622, 'STREET_LEXINGTON AVENUE'),
 (0.002843973056739025, 'DBA_MOCA ASIAN BISTRO'),
 (0.002777933962109526, 'DBA_CAFETERIA (USPS BLDNG)'),
 (0.002727914138775676, 'CUISINE_DESCRIPTION_Italian'),
 (0.002711239730223727, 'DBA_BENITO ONE'),
 (0.0026759528485994647, 'DBA_KISSENA CAFE'),
 (0.0026253756117305786, 'DBA_ALEX CAFE & DELI'),
 (0.0026130868759783143, "DBA_GRACIE'S ON 2ND"),
 (0.0026004692494982712, 'DBA_WA JEAL'),
 (0.0025914931739626132, "DBA_SOFIA'S LITTLE ITALY"),
 (0.0025859095898579433, 'STREET_AUSTIN STREET'),
 (0.002570988778244937, 'STREET_RICHMOND VALLEY ROAD'),
 (0.00252748965286248, 'CUISINE_DESCRIPTION_Sandwiches'),
 (0.0025138332456311374, 'DBA_ROLLERJAM USA'),
 (0.0024609865314170055, 'STREET_E 86TH ST'),
 (0.002438589947052761, 'STREET_NORTHERN BOULEVARD'),
 (0.0024281370410187716, 'STREET_MAIN ST'),
 (0.002392456380605325, 'STREET_BOWERY'),
 (0.0023409293182833986, 'STREET_KISSENA BOULEVARD'),
 (0.0023241076118448475, 'DBA_WILD GINGER VEGETARIAN KITCHEN'),
 (0.0023001465132897582, 'CUISINE_DESCRIPTION_Hamburgers'),
 (0.0022141171740301686, 'DBA_GYU-KAKU'),
 (0.0021750829059652183, "DBA_MCDONALD'S"),
 (0.0021722754400505407, 'STREET_EAST   46 STREET'),
 (0.002158523071714018, 'STREET_EAST CLARKE PLACE'),
 (0.002147670304672101, 'CUISINE_DESCRIPTION_Bakery'),
 (0.0021412780020549993, 'STREET_COLUMBUS AVE STORE #2'),
 (0.002119303275870244, 'CUISINE_DESCRIPTION_Thai'),
 (0.002118826154473679, 'DBA_SUBWAY'),
 (0.0021140226139439067, 'DBA_CAFE LALO'),
 (0.0020846384862591174, "DBA_ANDY'S DELI"),
 (0.00207603736473731, 'DBA_PIZZA ITALIA 1'),
 (0.0020692772732180584, 'DBA_JOY CURRY & TANDOOR'),
 (0.002066203205659709, "DBA_NINO'S RESTAURANT"),
 (0.0020340351115345273, 'DBA_COLUMBUS GOURMET FOOD'),
 (0.002023519893224608, 'DBA_BENTON CAFE'),
 (0.002016318299719638, 'CUISINE_DESCRIPTION_Korean'),
 (0.0020117537639767168, 'CUISINE_DESCRIPTION_French'),
 (0.001965881601738345, 'DBA_CHIPOTLE MEXICAN GRILL'),
 (0.0019643595413932863, 'DBA_OBAO'),
 (0.0019589270892608323, 'STREET_70 ROAD'),
 (0.0018811092604457391, 'CUISINE_DESCRIPTION_African'),
 (0.001869469154436017, 'DBA_BUKA'),
 (0.0018540314909380223, 'DBA_MATSU JAPANESE CUISINE'),
 (0.0018126425093848981, 'DBA_NEW YORK DINER'),
 (0.0017986959623362572, 'DBA_NANO BILLIARD CAFE'),
 (0.0017903189658774142, "DBA_ORIGINAL RAY'S PIZZA"),
 (0.001747760854238536, 'STREET_INTERVALE AVENUE'),
 (0.0017428897013918707, 'STREET_AMSTERDAM AVENUE'),
 (0.0017188192353700036, 'CUISINE_DESCRIPTION_Delicatessen'),
 (0.0017173142438104577, 'DBA_BIG NOSE KATES'),
 (0.001709074811719982, 'STREET_2 AVENUE'),
 (0.0016894682427772904, 'DBA_THE COMFORT DINER'),
 (0.0016866495124699483, 'DBA_NEW MANDARIN COURT'),
 (0.001686233018445606, 'STREET_QUEENS BOULEVARD'),
 (0.0016844963591163286, 'DBA_LA TRATTORIA'),
 (0.0016699260219894922,
  'CUISINE_DESCRIPTION_Latin (Cuban, Dominican, Puerto Rican, South & Central American)'),
 (0.0016624841662828003, 'DBA_VILLA BRAZIL CAFE GRILL'),
 (0.001644319507863386, 'STREET_WESTCHESTER AVENUE'),
 (0.0016353156565436055, 'DBA_LA LECHONERA CRIOLLA'),
 (0.001629106138945743, 'DBA_T-BROTHERS PIZZERIA'),
 (0.0016272749815805692, 'STREET_WEST BROADWAY'),
 (0.0016263491195976022, 'DBA_AJISEN RAMEN'),
 (0.001615366593505742, 'DBA_KETSIE GROCERY'),
 (0.0016133402947286037, 'DBA_RINCONCITO TEPEYAC'),
 (0.0016030486029852105, 'CUISINE_DESCRIPTION_Vegetarian'),
 (0.0015957482729672672, 'DBA_PIZZA PARK'),
 (0.0015854817692543338, 'DBA_NICE PIZZA'),
 (0.001560702871876405, 'STREET_E 149TH ST'),
 (0.0015438138159804256, 'CUISINE_DESCRIPTION_Asian'),
 (0.001542109884068165, 'DBA_GIACOMO FINE FOODS'),
 (0.001534500281595002, 'STREET_GRAND CONCOURSE'),
 (0.0015134958251345851, 'STREET_WEST   83 STREET'),
 (0.0015106090354854733, 'DBA_THE MUFFIN CAFE'),
 (0.0015047614567946133, 'CUISINE_DESCRIPTION_Irish'),
 (0.0014978741330499597, 'DBA_SHOGUN'),
 (0.0014830155793978555, 'DBA_TEA SHOP 168 & BAKERY'),
 (0.0014461010955401706, 'DBA_SPRINKLES CUPCAKES'),
 (0.0014006879128867897, 'STREET_ARTHUR KILL ROAD'),
 (0.0014005388169804202, 'DBA_GOLDEN STEAMER'),
 (0.0013950708599039887, 'DBA_GOTHAM PIZZA'),
 (0.0013904741291600022, 'DBA_MORRIS YACHT & BEACH CLUB'),
 (0.0013839092453733276, 'DBA_NINJA RESTAURANT'),
 (0.0013780053683246957, 'DBA_EAST BUFFET & RESTAURANT'),
 (0.0013777706927110124, 'DBA_EVERYDAY GOURMET DELI'),
 (0.001347581520166212, 'STREET_ALDUS STREET'),
 (0.0013452230870346484, 'DBA_PLAZA TULCINGO RESTAURANT'),
 (0.0013410390031227848, 'STREET_CHURCH STREET'),
 (0.001329123657377805, "DBA_MURPHY'S PUB & RESTAURANT"),
 (0.0013178461735307333, 'STREET_AVENUE A'),
 (0.0013067230657530858, 'DBA_HK CAFE'),
 (0.0013060179341509498, "DBA_ZARO'S BREAD BASKET"),
 (0.0012941049785548811, 'DBA_QUE SABROSURA RESTAURANT'),
 (0.0012893598436527654, 'DBA_PARDON MY FRENCH'),
 (0.0012697184627862514, 'STREET_EAST   52 STREET'),
 (0.0012671631425659033, 'STREET_EAST  180 STREET'),
 (0.001233538318113218, 'DBA_DISTRIBUIDORA SAN MARCOS'),
 (0.0012279322374503725, 'DBA_VILLAGE GRILL'),
 (0.0012279170129999267, 'STREET_WEBSTER AVENUE'),
 (0.0012229094650894586, 'DBA_HURON CLUB/SOHO PLAYHOUSE'),
 (0.0012168479052211752, 'STREET_MULBERRY STREET'),
 (0.0012050859354547415, 'DBA_PRET A MANGER'),
 (0.001194992727645974, 'STREET_MAIN STREET'),
 (0.001185477418503195, 'DBA_SIMPLY BAKERY'),
 (0.0011826644600131755, 'DBA_PHO BANG RESTAURANT'),
 (0.0011773527905329262, 'DBA_T-BONE DINER'),
 (0.0011730654439952805, 'STREET_AVENUE B'),
 (0.0011717735232553601, 'STREET_EAST  183 STREET'),
 (0.001170013651825313, 'STREET_EAST TREMONT AVENUE'),
 (0.0011454525118038722, 'STREET_CITY ISLAND AVENUE'),
 (0.0011376652852875724, 'DBA_EL VALLE RESTAURANT'),
 (0.0011292593023980312, 'CUISINE_DESCRIPTION_Tex-Mex'),
 (0.001129136857868976, 'CUISINE_DESCRIPTION_Steak'),
 (0.0011251334725661886, 'STREET_EAST   64 STREET'),
 (0.0011210358890184167, 'STREET_EAST  138 STREET'),
 (0.0011128253072873867, 'STREET_EAST   53 STREET'),
 (0.0011105557523369174, 'DBA_LE PAIN QUOTIDIEN'),
 (0.001108148826571073, 'STREET_FULTON STREET'),
 (0.001105808604391378, 'DBA_BRINDLE ROOM'),
 (0.0010992659553192845, 'DBA_INSOMNIA COOKIES'),
 (0.00108635313910647, 'STREET_JEROME AVENUE'),
 (0.0010838767168835897, 'STREET_SOUTHERN BOULEVARD'),
 (0.0010768747400056059, 'STREET_FRANKLIN AVENUE'),
 (0.0010574909834259697, 'STREET_BROOME STREET'),
 (0.0010406552104946262, 'DBA_DELICIAS MANABITAS RESTAURANT'),
 (0.0010179863593476994, "DBA_KILLMEYER'S OLD BAVARIA INN."),
 (0.0010069014722161966, 'STREET_VANDERBILT AVENUE'),
 (0.0009733519608311844, 'CUISINE_DESCRIPTION_Sandwiches/Salads/Mixed Buffet'),
 (0.0009716491215970688, 'DBA_SHUN WON FLUSHING'),
 (0.0009641805992328243, 'CUISINE_DESCRIPTION_Spanish'),
 (0.0009604144039087645, 'DBA_ILMULINO'),
 (0.0009474215106826676, 'DBA_LA MIA PIZZA'),
 (0.0009473965194062195, 'DBA_BLEND'),
 (0.0009464568187270266, 'DBA_CAFFE BACIO'),
 (0.0009444575632805818, 'DBA_ECUA VILLA COFFEE SHOP'),
 (0.0009359545005305553, 'DBA_FAY DA BAKERY'),
 (0.0009287460806814877, "DBA_GIOVANNI'S"),
 (0.0009254794216912887, "DBA_DOMINO'S"),
 (0.0009181614266507279, 'DBA_OAXACA TAQUERIA'),
 (0.0009033313188106102, 'DBA_MINCA RAMEN FACTORY'),
 (0.0008866757393917769, 'DBA_WO HOP CITY'),
 (0.0008846631185124373, 'STREET_BAYARD STREET'),
 (0.0008839623478166481, 'DBA_ALICES TEA CUP CHAPTER 2'),
 (0.0008772318801616424, 'STREET_WASHINGTON AVENUE'),
 (0.0008575973291204743, 'DBA_MILLENIUM HILTON'),
 (0.0008350762985769271, 'DBA_SALAAM BOMBAY'),
 (0.0008291849534681996, 'DBA_EASTEND BAR & GRILL'),
 (0.000822259720672967, 'DBA_NHA-TRANG CENTRE VIETNAM RESTAURANT'),
 (0.0008213211161867474, "DBA_KAYLAH'S HUT"),
 (0.0008088794867236199, 'DBA_KENNEDY FRIED CHICKEN'),
 (0.0008012843430854671, 'CUISINE_DESCRIPTION_Armenian'),
 (0.0007899635075182661, 'DBA_GEE WHIZ'),
 (0.000788723068903685, 'DBA_HERBS THAI BISTRO'),
 (0.0007849224090311945, 'CUISINE_DESCRIPTION_Pizza/Italian'),
 (0.0007781120150139959, 'STREET_READE STREET'),
 (0.0007718743161203671, 'DBA_KING DAVID/MIKIHANA SUSHI'),
 (0.0007649240425461711, 'STREET_EAST  170 STREET'),
 (0.0007621683115374266, 'STREET_EAST BURNSIDE AVENUE'),
 (0.0007606533692714514, 'DBA_HARMONIE CLUB'),
 (0.0007496054462028513, 'DBA_BLONDIES'),
 (0.0007422994593819693, 'STREET_HUDSON STREET'),
 (0.0007398486675456382, 'STREET_EAST  149 STREET'),
 (0.0007379491469462581, 'DBA_HERO FACTORY'),
 (0.0007361621792424809, 'STREET_EAST   60 STREET'),
 (0.000725680317359452, 'STREET_WILLETS POINT BOULEVARD'),
 (0.0007228216584050353, 'STREET_FIRST AVENUE'),
 (0.0007222614028650018, 'STREET_35 AVENUE'),
 (0.0007171306759721727, 'STREET_EAST  167 STREET'),
 (0.0007124282782175193, 'DBA_KING GRILL RESTAURANT'),
 (0.000710302391197075, 'STREET_PARK AVENUE'),
 (0.0007100548645746772, "DBA_CHUCK E. CHEESE'S"),
 (0.0007074498169854462, 'STREET_METROPOLITAN AVENUE'),
 (0.0006784558219479586, 'DBA_MON CHER MARKET'),
 (0.0006722704617931055, 'DBA_HIDEAWAY'),
 (0.0006715404561298357, 'DBA_NICA TRATTORIA'),
 (0.0006686481832377859, 'DBA_CARNATION BAKERY'),
 (0.0006667166594697624, 'CUISINE_DESCRIPTION_Vietnamese/Cambodian/Malaysia'),
 (0.0006651227087110719, 'STREET_MERCER STREET'),
 (0.0006623179502345732, 'STREET_WEST   79 STREET'),
 (0.0006586726305037036, "DBA_SOPHIE'S CUBAN CUISINE"),
 (0.000658245200208678, 'STREET_DUANE STREET'),
 (0.0006565488304847594, 'CUISINE_DESCRIPTION_Brazilian'),
 (0.0006418123737764322, 'STREET_EAST   49 STREET'),
 (0.000639580595138339, 'DBA_RADIANCE'),
 (0.00063915803355137, 'DBA_AKI SUSHI'),
 (0.0006325488599450544, 'DBA_GALLI RESTAURANT'),
 (0.0006299291632987582, 'STREET_BROOK AVENUE'),
 (0.0006246716766669118, 'CUISINE_DESCRIPTION_Juice, Smoothies, Fruit Salads'),
 (0.0006202126746133638, 'STREET_34 AVENUE'),
 (0.0006200425322054399, 'STREET_WEST  183 STREET'),
 (0.000618110240146005, 'DBA_AGRA RESTAURANT'),
 (0.0006164858727790119, 'DBA_NEW DAWN RESTAURANT'),
 (0.00061641838492147, 'STREET_VANDAM STREET'),
 (0.000616002814008202, 'DBA_CAFFE PALERMO'),
 (0.0006139607495938256, 'DBA_KIMCHI GRILL'),
 (0.0006128714889419217, 'DBA_MARK FORGIONE'),
 (0.0006119673562905179, 'CUISINE_DESCRIPTION_Greek'),
 (0.000611955952124341, 'STREET_CENTRE STREET'),
 (0.0006106181571240419, 'DBA_SOCARRAT EAST'),
 (0.0006059047385619017, 'DBA_ICOOK BUFFET'),
 (0.0006044661074524337, 'DBA_THAI POT'),
 (0.0006006106466260441, 'STREET_YELLOWSTONE BOULEVARD'),
 (0.0005988146634926366, 'STREET_WEST   72 STREET'),
 (0.0005970569513088893, 'DBA_PEACOCK RESTAURANT'),
 (0.0005964718748419527, 'STREET_BEACH STREET'),
 (0.0005942786194454933, 'DBA_BRICKTOWN BAGELS & CAFE'),
 (0.0005934709987962971, 'DBA_DONA BELLA  PIZZA'),
 (0.0005898303557540748, 'STREET_ELIZABETH STREET'),
 (0.0005837051295541235, 'DBA_THE CREEK AND THE CAVE'),
 (0.0005799682433431984, 'DBA_SAHARA EAST RESTAURANT'),
 (0.0005781556808960802, 'DBA_SODA BAR'),
 (0.0005621782735574713, 'CUISINE_DESCRIPTION_Mediterranean'),
 (0.0005601601671235462, 'DBA_AMSTERDAM ALE HOUSE'),
 (0.000557137235403903, 'STREET_YORK AVE'),
 (0.0005556415306147627, 'DBA_CHIU HONG BAKERY'),
 (0.0005529837684447827, "DBA_JACOB'S PICKLES"),
 (0.0005522361799897697, 'DBA_AKIMOTO SUSHI'),
 (0.0005513310991418866, 'DBA_JUNG SIK'),
 (0.000546677157149566, 'CUISINE_DESCRIPTION_Chicken'),
 (0.0005440836222197848, 'DBA_JUICE BAR PLUS'),
 (0.0005343877563606028, 'DBA_AMAZING 66 RESTAURANT'),
 (0.0005325462868830043, 'DBA_WEATHER UP'),
 (0.0005279879077857676, 'DBA_M1-5'),
 (0.0005271485660809679, 'STREET_EAST   84 STREET'),
 (0.0005266458397358082, 'DBA_FIVESTUY CAFE'),
 (0.0005199820778003655, 'DBA_EAST SIDE BILLIARD'),
 (0.0005178423383063762, 'DBA_VILLA TAPIA RESTAURANT'),
 (0.0005142189580811782, 'DBA_BEACH STREET EATERY'),
 (0.0004993486668483117, 'STREET_22 STREET'),
 (0.000498521225244229, 'DBA_LITTLE ZELDA'),
 (0.0004964052473196434, 'STREET_PROSPECT AVENUE'),
 (0.0004952740599796657, 'DBA_THE NEW THOMPSON DINER'),
 (0.0004940953911932602, 'DBA_THE BUND'),
 (0.0004888720014179131, 'DBA_LA BELLEZZA PIZZERIA'),
 (0.00048674642991766693, 'STREET_EAST  169 STREET'),
 (0.00048611965161416006, 'STREET_GARRISON AVENUE'),
 (0.00048149292745421974, 'DBA_CORNERSTONE CAFE'),
 (0.00048107904042193054, 'STREET_EAST    5 STREET'),
 (0.0004801634890486251, "DBA_SMILER'S DELI"),
 (0.00047684993157111685, 'DBA_DUE FRATELLI'),
 (0.00047575087000593344, 'DBA_HADJA MARLEY RESTAURANT'),
 (0.0004707723201005961, "DBA_XI'AN FAMOUS FOODS"),
 (0.0004660705493193281, 'DBA_EL RINCON DE LA VIEJA BAKERY AND RESTAURANT'),
 (0.00046285662834095624, 'DBA_KENNEDY CHICKEN AND PIZZA'),
 (0.0004627973957894703, 'DBA_MASAKI TERIYAKI & SUSHI'),
 (0.00045568092685292896, 'STREET_EAST   10 STREET'),
 (0.0004532934098064879, 'CUISINE_DESCRIPTION_Caribbean'),
 (0.00045097049399664527, 'DBA_16 HANDLES'),
 (0.0004496815251558211, 'STREET_EAST   42 STREET'),
 (0.0004434829132098949, 'DBA_VILLA CEMITA'),
 (0.0004431357905587395, 'DBA_MUMTAZ'),
 (0.0004413669886403096, 'STREET_YORK AVENUE'),
 (0.0004375899020895595, 'STREET_UNIVERSITY AVENUE'),
 (0.00042664543381703375, "DBA_ANDRE'S HUNGARIAN STRUDELS & PASTRIES"),
 (0.0004238718440298892, 'DBA_OM INDIAN RESTAURANT'),
 (0.000423666786352751, 'DBA_TROPICAL 128'),
 (0.00042118917978168746, 'STREET_EAST   44 STREET'),
 (0.0004082441439693593, 'CUISINE_DESCRIPTION_Middle Eastern'),
 (0.00040479616218891683, 'STREET_EAST   51 STREET'),
 (0.0004022420924288797, 'DBA_RANDALL RESTAURANT'),
 (0.0004019853252341869, 'DBA_BASCOM CATERING & EVENTS'),
 (0.00039728816796200567, 'DBA_MIDTOWN RESTAURANT'),
 (0.0003950729998674536, 'STREET_5 AVENUE'),
 (0.0003939297679361826, 'DBA_SHEEZAN RESTAURANT'),
 (0.0003882902127046439, 'STREET_EAST   79 STREET'),
 (0.0003810284010567633, 'STREET_STUYVESANT OVAL'),
 (0.0003788039305962447, 'CUISINE_DESCRIPTION_Jewish/Kosher'),
 (0.0003722442525826441, 'STREET_PARSONS BLVD'),
 (0.0003715802160784213, 'DBA_LA ROSA BAKERY'),
 (0.0003671950323375039, 'DBA_NEW WOK'),
 (0.0003616368765724339, 'STREET_CHAMBERS STREET'),
 (0.0003573998692765295, 'CUISINE_DESCRIPTION_German'),
 (0.0003485932465925138, 'STREET_RANDALL AVENUE'),
 (0.00034660703551977746, 'STREET_VERNON BLVD'),
 (0.00034632614146363154, 'STREET_MELROSE AVENUE'),
 (0.00033884412773055734, 'DBA_SUN SAI GAI RESTAURANT'),
 (0.0003368659182349374,
  'CUISINE_DESCRIPTION_Ice Cream, Gelato, Yogurt, Ices'),
 (0.0003363109020158939, 'DBA_BEDFORD FALLS'),
 (0.00033344397136126806, "DBA_MITCHELL'S RESTAURANT"),
 (0.00033211015723740993, 'STREET_WEST BURNSIDE AVENUE'),
 (0.00033005105523526985, 'STREET_PILOT STREET'),
 (0.00032829812309263746, 'DBA_CHANGLE CUISINE'),
 (0.0003274632232972929, 'CUISINE_DESCRIPTION_Soul Food'),
 (0.00032546762823454676, 'STREET_108 STREET'),
 (0.0003177716397874876, "DBA_LI'S GARDEN"),
 (0.0003171234250328354, 'DBA_GOOD FORTUNE RESTAURANT'),
 (0.0003106767675486076, 'DBA_NIGHT MARKET BBQ'),
 (0.00030873475908946714, 'DBA_ROSSVILLE PIZZERIA'),
 (0.00030463898608850033, 'STREET_CANAL STREET'),
 (0.00030349196689669327, 'STREET_JACKSON AVENUE'),
 (0.00030025039795975435, 'STREET_ST MARKS PLACE'),
 (0.00030015547900532903, 'STREET_HESTER STREET'),
 (0.00029856582493436543, 'DBA_MANNA HOUSE'),
 (0.0002962387433184065, 'DBA_PEKING DUCK HOUSE'),
 (0.0002949248055993262, 'DBA_OLDE BROOKLYN BAGEL SHOPPE'),
 (0.00029222616092124506, "DBA_TOM'S COFFEE SHOP"),
 (0.00029164440177694795, 'STREET_VERNON BOULEVARD'),
 (0.0002910406012009712, 'DBA_OUR PLACE CHINA CHALET'),
 (0.000290509741137315, 'DBA_CITY ISLAND YACHT CLUB'),
 (0.0002886490445482855, 'STREET_BOWNE STREET'),
 (0.0002878332009716049, "DBA_MAXWELL'S"),
 (0.0002868058514773929, 'DBA_TACO VELOZ VIP'),
 (0.00027892534970305597, 'CUISINE_DESCRIPTION_Bangladeshi'),
 (0.0002787952590149051, 'DBA_MAMA EATERY'),
 (0.0002756504596919838, 'STREET_AVENUE D'),
 (0.0002737179933740689, 'STREET_CRESCENT STREET'),
 (0.0002728686741565757, 'DBA_SUSHI YOU'),
 (0.00027130173329292264, 'DBA_THE BARONESS BAR'),
 (0.00026782224547595865, 'STREET_41ST AVE'),
 (0.0002579971273862666, 'DBA_SPRING NATURAL KITCHEN'),
 (0.00025775309999396997, 'DBA_NEW SHENGJIN MEISHI'),
 (0.0002547483298676544, 'STREET_BLOOMINGDALE ROAD'),
 (0.00025388670507734014, 'STREET_GRAND CENTRAL TERMINAL'),
 (0.00024223070553737908, 'STREET_EAST   67 STREET'),
 (0.0002414179163074227, 'DBA_BAGEL WORKS'),
 (0.0002411819885030612, 'DBA_NUMERO 28'),
 (0.00024082057893106806, 'STREET_EAST   55 STREET'),
 (0.00023853370921105965, 'STREET_WALKER STREET'),
 (0.0002353068078056374, 'STREET_GRAND STREET'),
 (0.00023491860702072741, 'DBA_HOP KEE RESTAURANT'),
 (0.0002256135776833044, 'STREET_BOSTON ROAD'),
 (0.00022539548538669054, 'CUISINE_DESCRIPTION_Bagels/Pretzels'),
 (0.00022500206757857368, 'DBA_VALBELLA MIDTOWN'),
 (0.00022220380891908436, 'STREET_EAST   41 STREET'),
 (0.00022189777977462178, 'STREET_EAST   86 STREET'),
 (0.00021956737054336942, 'STREET_PELL STREET'),
 (0.00021770381150505852, 'DBA_XO RESTAURANT'),
 (0.0002113007093065665, 'STREET_DOYERS STREET'),
 (0.00020859599583361257, 'STREET_WEST   68 STREET'),
 (0.00020789094428388168, 'STREET_AVENUE C'),
 (0.00020307898590475498, 'STREET_PUTNAM AVENUE'),
 (0.00019898872607725506, 'DBA_696 GOURMET DELI'),
 (0.0001989709659399707, 'DBA_SAPID INDIAN RESTAURANT'),
 (0.0001981981977593902, 'STREET_KISSENA BLVD'),
 (0.00019595335744843986, 'STREET_THIRD AVENUE'),
 (0.00019382036295872748, 'DBA_ESPERANTO RESTAURANT BAR AND JUGO'),
 (0.00019337935777070505, 'DBA_LA BOITE EN BOIS'),
 (0.00019231699890008447, 'STREET_ROSSVILLE AVENUE'),
 (0.00019119811604188816, 'DBA_RESTAURANT RIKI'),
 (0.0001903130250360483, 'CUISINE_DESCRIPTION_Soups & Sandwiches'),
 (0.00018998377434934868, 'DBA_HALE & HEARTY SOUP'),
 (0.00018902211198493354, 'DBA_EL CAMION CANTINA'),
 (0.00018874960795369495, 'STREET_EAST   58 STREET'),
 (0.00018628666131356573, 'STREET_EAST   50 STREET'),
 (0.00018132624142353618, 'DBA_FLEET BAKERY'),
 (0.00017967275820058294, 'DBA_ALACHI MASALA INDIAN RESTAURANT'),
 (0.0001791397240164453, 'DBA_TONG HAI TUNG BAKERY'),
 (0.00017819065310970719, 'DBA_GENTE'),
 (0.00017782092193202467, 'DBA_JAIYA THAI & ORIENTAL RESTAURANT'),
 (0.000177274886707904, 'DBA_PANCHO VILLA RESTAURANT'),
 (0.00017619459695244327, 'STREET_HARRISON STREET'),
 (0.00017577948789517463, 'DBA_KE ZHANG'),
 (0.00017474115250880155, 'DBA_KO SUSHI'),
 (0.00017439107340798914, 'DBA_SPICE'),
 (0.00017190498098947283, 'CUISINE_DESCRIPTION_Seafood'),
 (0.00016921134359511726, 'STREET_EAST   54 STREET'),
 (0.00016919944948133735, 'STREET_150 STREET'),

### (b) Easy Ensemble AdaBoost Classifier

In [1]:
# Train the EasyEnsembleClassifier

# Create a balanced random forest classifier:
from imblearn.ensemble import EasyEnsembleClassifier

ee_model = EasyEnsembleClassifier(n_estimators=100, random_state=1)

In [2]:
# Fitting the model:
ee_model = ee_model.fit(X_train, y_train)
Counter(y_train)

NameError: name 'X_train' is not defined

In [ ]:
y_train.shape

In [ ]:
# Making predictions using the testing data:
predictions = ee_model.predict(X_test)

predictions

In [ ]:
# Calculated the balanced accuracy score
acc_score = balanced_accuracy_score(y_test, predictions)

print(f"Accuracy Score : {acc_score}")

In [ ]:
# Display the confusion matrix
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

print("Confusion Matrix")
display(cm_df)

In [ ]:
# Print the imbalanced classification report
print("Classification Report")
print(classification_report_imbalanced(y_test, predictions))